/* ########## CONTACT PAGE STYLING ######### */
.contact-form{
    padding:5 rem 0;
    
}

.form-wrapper{
    border:10px solid red;
}

.form-wrapper::after{
    content:' ';
    display:block;
    clear:both;
}

.company-address{
    border:4px dotted green;
    width:49%;
    float:left;
}

.form{
    border:4px dotted black;
    width:49%;
    float:right;
}